[run]
source = ./src
omit =
	./src/main.py
	./src/__init__.py

branch = True
timid = True

[report]
exclude_lines = 
	pragma: no cover
	pass
omit =
	./src/main.py
	./src/__init__.py

[html]
title = Zol's Coverage Report
